name: Continuous Deployment

on:
  push:
    branches: [main] # Main branch only

jobs:
  build-and-push:
    name: Build & Push to GHCR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set Version String
        id: vars
        run: |
          # Use tag if present, use branch name & SHA otherwise
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
              echo "version=${{ github.ref_name }}-atomic" >> $GITHUB_OUTPUT
          else
              echo "version=${{ github.ref_name }}-${GITHUB_SHA::7}-atomic" >> $GITHUB_OUTPUT
          fi
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:latest
          build-args: |
            APP_VERSION=${{ steps.vars.outputs.version }}

  deploy-vps:
    name: Pull & Restart on VPS
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Remote SSH Deployment
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker compose -f docker-compose.prod.yaml pull
            docker compose -f docker-compose.prod.yaml up -d --remove-orphans
            docker image prune -f
